<form name={{formName}} action='/'{{className}} method='get'>
	<div class="grid-item" value="liberalArts" onClick="document.forms['{{formName}}'].submit()">
	  <div class="hovereffect">
	    <img class="img-responsive" src="assets/images/"{{className}}.gif alt="">
	    <div class="overlayGrid">
	      <h2>{{className}}</h2>
	  		<p>show tutors</p>
	    </div>
	  </div>
	</div>
</form>