<body id="tutorBody">
  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <form id='uploadImage' action='/uploadProfileImage' method='POST' encType="multipart/form-data">
            <label for='imageUpload'>
              <div class="profilePic">

                {{#if this.picUrl}}
                <img class="img-rounded" id='profileImage' width="180" height="180" src={{this.picUrl}}>
                {{/if}}
                {{#unless this.picUrl}}
                <img class="img-rounded" id='profileImage' width="180" height="180" src='/assets/images/placeholder.png'>
                {{/unless}}

                <div class="overlay">
                  <div class="text"><span class="glyphicon glyphicon-camera"></span> update profile picture</div>
                </div>
              </div>
            </label>
            <input type='text' name='userType' value='tutor' hidden>
            <input type='text' name='user' value={{this.tutorUserName}} hidden>
            <input type='file' id='imageUpload' name='imageUpload'>
          </form>
          <div id="tutorRating"></div>
          <h1 class="display-3">{{this.firstName}} {{this.lastName}}</h1>
          <p class="lead">{{this.tutorUserName}}</p>
        </div>
        <div class="col-sm-6">
          <div id="chart">
           <div style="width:100%;">
             <canvas id="canvas"></canvas>
           </div>
            <div class=row>
              <input id="input" type="number" placeholder="Dollar Amount"></input>
              <button id="addData">Add Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end jumbotron -->
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div id="calendar" class="calendar-body"></div>
      </div>
      <div class="col-sm-3">
        <h1 class="headers text-center">subjects</h1>
        <div class="grid">
          <div class="grid-tab">liberal arts</div>
          <div class="grid-tab">business</div>
          <div class="grid-tab">engineering</div>
          <div class="grid-tab">mathematics</div>
          <div class="grid-tab">biology</div>
          <div class="grid-tab">chemistry</div>
          <div class="grid-tab">computer science</div>
          <div class="grid-tab">geography</div>
          <div class="grid-tab">physics</div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- linking bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- linking JS file -->
  <script type="text/javascript" src="/assets/javascript/javascript.js"></script>
  <!-- full calendar -->
  <script src='/assets/Calendar/lib/moment.min.js'></script>
  <script src='/assets/Calendar/lib/jquery.min.js'></script>
  <script src='/assets/Calendar/lib/fullcalendar.min.js'></script>
  <script src='/assets/Calendar/scheduler.min.js'></script>
  <script src="/assets/Calendar/customizedCalendar.js"></script>
  <!-- Chart.js -->
  <script src="/assets/Chart/chart.js/utils.js"></script>
  <script src="/assets/Chart/dist/Chart.bundle.js"></script>
  <script src="/assets/Chart/chart.js/line/line.js"></script>
  <!--star Rating -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
  <!-- Isotope -->
  <script src="/assets/Isotope/isotope.pkgd.js"></script>
</body>
